.header-bg{
    min-width: 100svh;
    z-index: 1000;
    top: 0;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    color:var(--white);
    backdrop-filter: blur(10px);
}

.header-logo-div{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap:1rem;
}

.logo-img{
    width: 70px;
    height: auto;
}

nav{
    display: flex;
    gap:2rem;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.active, .nav-links:hover, .logo-name{
    color: var(--orange);
}

.header-profile-div{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap:2rem;
}

.logout-btn{
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: var(--black);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-btn:hover{
    background-color: inherit;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.header-theme-icon:hover, .header-cart-icon:hover{
    cursor: pointer;
    color: var(--orange);
}