.features-bg{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.features-bg h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 2rem;
}

.features-div{
    min-width:  75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}