body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:var(--white);
  background-color: var(--black);
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --black: #111111;
  --white: #ffffff;
  --grey: #cbcbcb;
  --orange: #fb6400;
  --dark-black: #000000;

  /* --dark-black:#ffffff;
  --black: #ffffff;
  --white: #111111;
  --grey: #cbcbcb;
  --orange: #ffa500; */
}